@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inter:wght@400;600&family=Kavoon&family=Knewave&family=Mada:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


a.active{ 
    color:red;
}

.marq{
    display: inline-block;
    animation: marquee 5s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



/* animate news arrow */
.animate-arr{ 
     background-position-y:16rem;
     background-size:10rem;
     background-repeat: no-repeat;
     animation:danceArr 2s ease-in infinite;
}


@keyframes danceArr {
    0%{ 
        background-position-x:-10px
    }
    50%{ 
        background-position-x:-5px
    }

    100%{ 
        background-position-x:0px
    }
}

.animate-arrow-right{ 
  animation: scaleArrowRight 1s linear infinite;
}

@keyframes scaleArrowRight{ 

  0%{ 
    transform: scale(1.1)
  }
  50%{ 
    transform: scale(1.2);
  }
  100%{ 
    transform:scale(1.3)
  }
}
    

.navShadow{ 
  box-shadow:4px 0px 30px rgba(98, 157, 245, 0.3)
}

.navBorderGrad{
  
  
    border-width: 2px; 
    border-bottom-style: solid;
    border-image: linear-gradient(to right, 
    rgba(98, 157, 245, 0.3) 0%,   /* First color with 30% opacity */
    rgba(98, 157, 245, 1) 50%,    /* Second color with 100% opacity */
    rgba(98, 157, 245, 0) 100%    /* Third color with 0% opacity */
);
    border-image-slice: 1; 
    
    border-top: 2px;
    border-left:2px;
    border-right:2px ; 
}

.slide-nav-in{ 
  transition: transform 10s ease-out;
}

.slide-nav-out{
  transform: translateX(-100%);
}



::-webkit-scrollbar{ 
  width:2px;
}
::-mox-scrollbar{ 
  width:2px;
}

@media screen and (min-width: 1024px) {
  .slide-nav-out {
    transform: translateX(0%);
  }
}

